<ion-header class="ion-no-border zen-header">
  <ion-toolbar class="zen-top-toolbar">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="zen-main-title">Respiration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="zen-content ion-padding ion-text-center" [fullscreen]="true">
  <div class="breathing-wrapper">
    
    <div class="breathing-aura"
         [class.anim-inhale]="isPlaying && phase === 'inhale'"
         [class.anim-hold]="isPlaying && phase === 'hold'"
         [class.anim-exhale]="isPlaying && phase === 'exhale'"
         [style.transition-duration]="getTransitionDuration()">
    </div>

    <div class="breathing-circle"
         [class.anim-inhale]="isPlaying && phase === 'inhale'"
         [class.anim-hold]="isPlaying && phase === 'hold'"
         [class.anim-exhale]="isPlaying && phase === 'exhale'"
         [style.transition-duration]="getTransitionDuration()">
      
      <div class="circle-content">
        <h2 class="phase-text">{{ getPhaseText() }}</h2>
        @if (isPlaying) {
          <h1 class="counter-text">{{ counter }}</h1>
        }
      </div>
      
    </div>

    <p class="guidance-text">
      {{ isPlaying ? "Concentre-toi sur ton souffle..." : "Appuie sur lecture pour commencer" }}
    </p>

  </div>
</ion-content>

<ion-footer class="ion-no-border zen-footer">
  <div class="control-pill">
    
    <ion-button fill="clear" class="play-button" (click)="togglePlay()">
      <ion-icon slot="icon-only" [name]="isPlaying ? 'pause' : 'play'" color="light"></ion-icon>
    </ion-button>

    <div class="divider"></div>

    <ion-select [compareWith]="compareExercises" [value]="currentExercise" (ionChange)="changeExercise($event)" interface="popover" class="exo-select">
      @for (exo of exercises; track exo) {
        <ion-select-option [value]="exo">{{ exo.name }}</ion-select-option>
      }
    </ion-select>
    
  </div>
</ion-footer>