.zen-menu-title {
  position: absolute;
  top:30%;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  pointer-events: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: #F5F7F5;
  letter-spacing: 0.5px;
}